/* <!-- Font Link --> */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap");
html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f6f6;
}

.addtoCart-wraper h2 {
    font-size: 35px;
    transition: .5s;
    font-weight: 500;
    color: #333;
    margin: 0;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.addtoCart-wraper h2::after {
    content: '';
    background: #f46107;
    width: 18%;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 78px;
    transform: translateX(-50%);
    transform-origin: bottom center;
    transition: 2s transform;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.checkout-validation{
    background-color: #ffb89e;
    color: #f46107;
    border: 1px solid #f46107;
    padding: 10px;
    margin-top: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: none;
}

.addToCart{
    padding-bottom: 35px;
}

.addtocart-table{
    max-width: 1050px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.addtocart-table h3 {
    color: #222;
    letter-spacing: -0.05rem;
    text-shadow: 0 2px 1px rgba(#fff, 0.3);
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 70%;
    background: rgba(#fafafa, 0.9);
    table-layout: fixed;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

table caption {
    text-align: left;
    font-size: 1.4rem;
    margin: .5em 0 .75em;
}

#table-img {
    height: 50px;
}

table .quantity{
    padding: 15px;
}

input[type=number]:focus {
    outline: none;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 1rem;
}

table th,
table td {
    border-right: 1px solid #ddd;
    text-align: center;
    font-size: .8rem;
}

table th {
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
}

table th:nth-child(1) {
    padding: 30px;
}

table th:nth-child(2) {
    border: none;
}
table th:nth-child(3){
    text-align: left;
}
 table td i{
     color: #f46107;
     cursor: pointer;
 }

table .displayCart .hide{
    display: inline;
}
.wishlist-table table{
    width: 100%;
    margin-top: 5px;
}

@media screen and (max-width: 786px) {
    table {
        width: 60%;
        border: 0;
    }
    table th{
        font-size: .5rem;
    }
    table caption {
        text-align: center;
        font-size: 1.2em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        margin-top: .625em;
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    input[type=number] {
        margin: 0;
        font-size: 15px;
        text-align: right;
    }
}
@media screen and (max-width: 448px){
    .addtocart-table{
        flex-direction: column;
        align-items: center;
    }
    input[type=number]{
        font-size: 13px;
    }
    table tr{
        margin: 0;
        margin-bottom: 3px;
        border: 1px solid #ddd;
        width: 100%;
    }
    table td{
        padding: 6px 10px;
    }
    .checkout-validation{
        font-size: 12px;
        padding: 4px;
    }
}

.subTotal input{
    border: none;
    padding: 8px 10px;
    outline: none;
} 
.subTotal h3, h4{
    color: #333;
    padding: 12px 0;
}
.subTotal span{
    color: #f46107;
    font-weight: bold;
}
.subTotal input:focus{
    outline: none;
}
.subTotal .border-h1{
    color: #333;
    border-bottom: 1px solid #a5a0a0;
    padding: 5px 0;
}
.subTotal .border-h4{
    border-top: 1px solid #a5a0a0;
    padding: 12px 0;
    margin: 0;
}
.subTotal .Order-placed{
    display: block;
    padding: 8px 60px;
    margin: 15px 0;
    border: 1px solid #f46107;
    background-color:#ffbd59;
    color: #f46107;
    outline: none;
    border-radius: 60px;
    transition: .5s;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.subTotal .Order-placed:focus{
    outline: none;
}
.subTotal .Order-placed:hover{
    background-color: #f46107;
    color: #f8f6f6;
}